.visitor-page {
  min-height: 100vh;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: radial-gradient(circle at top left, #ecfdf5, #fdf6ec);
}

.visitor-card {
  width: 100%;
  max-width: 900px;
  background: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 30px 70px rgba(15, 23, 42, 0.15);
  padding: 2.5rem;
}

.visitor-header {
  text-align: center;
  margin-bottom: 2rem;
}

.visitor-icon {
  font-size: 2.4rem;
}

.visitor-header h2 {
  margin: 0.6rem 0 0.3rem;
}

.visitor-header p {
  color: #64748b;
  font-size: 0.95rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field.full-width {
  grid-column: span 2;
}

.form-field label {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.form-field input,
.form-field select,
.form-field textarea {
  padding: 0.6rem 0.75rem;
  border-radius: 0.7rem;
  border: 1px solid #cbd5f5;
  font-size: 0.9rem;
}

.form-field textarea {
  resize: vertical;
}

.form-field small {
  color: #dc2626;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}

.consent label {
  font-size: 0.85rem;
  display: flex;
  gap: 0.5rem;
}

.form-actions {
  margin-top: 2rem;
  text-align: center;
}

.form-actions button {
  border: none;
  padding: 0.7rem 2.2rem;
  border-radius: 999px;
  background: linear-gradient(135deg, #0f766e, #0e7490);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 18px 40px rgba(15, 118, 110, 0.4);
}

.form-actions button:hover {
  transform: translateY(-1px);
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .visitor-card {
    padding: 1.8rem;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-field.full-width {
    grid-column: span 1;
  }
}


.back-btn {
  background: none;
  border: none;
//   color: #0f766e;
  color: rgb(176, 176, 19);
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
}
